tr
    td(style='margin: 0; padding: 0; padding-bottom: 0px;')
        table(border='0', cellspacing='0', cellpadding='0', style='margin: 0; padding: 0; width: 100%;')
            tr
                td.w-60(valign='top', style='margin: 0; padding: 0;')
                    table(border='0', cellspacing='0', cellpadding='0', style='margin: 0; padding: 0; width: 100%;')
                        tr
                            td(valign='top', align='left', style='margin: 0; padding: 0;')
                                img.desktopShow(src="https://goo.gl/DKNMT5", alt="" style="margin: 0; padding: 0; border:0; width:100%; height:auto;")
                                img.mobileShow(src="https://goo.gl/nuvhpT", alt="" style="margin: 0; padding: 0; border:0; width:100%; height:auto;")

                                //- img.desktopShow(src="img/1.png", alt="" style="margin: 0; padding: 0; border:0; width:100%; height:auto;")
                                //- img.mobileShow(src="img/2.png", alt="" style="margin: 0; padding: 0; border:0; width:100%; height:auto;")