tr
    td(style="background:#FAFAFA;")
        table(align="center")
            tr
                td(style='margin:0; padding:0; padding-top: 20px; font-weight: bold; font-size: 15px; letter-spacing: 0.01em; text-align: center; color: #29262c;', align='center') Company Name
            tr
                td(style="padding:0; margin:0; padding-bottom: 20px;")
                    <p style='margin:0; padding:0; padding-top:10px; font-weight: 300; font-size: 13px; text-align: center; color: #575756; line-height: 17px; letter-spacing: 0.2px;'> 123Fake street, Bristol, BS2 0PT <b class="desktopShowb" style="padding-left:10px; padding-right:10px;">|</b> <br class="mobileShowbr"/>07789631128 <b class="desktopShowb" style="padding-left:10px; padding-right:10px;">|</b><br class="mobileShowbr"/>hello@company.com </p>
        