html(xmlns='http://www.w3.org/1999/xhtml')
  head
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    meta(name='format-detection', content='telephone=no')
    meta(name='format-detection', content='date=no')
    meta(name='viewport', content='width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=no;')
    meta(http-equiv='X-UA-Compatible', content='IE=9; IE=8; IE=7; IE=EDGE')
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700" rel="stylesheet">
    style.
      body {
      margin: 0;
      padding: 0;
      width: 100% !important;
      color: #000000 !important;
      font-family: 'Roboto', sans-serif;
      font-style: normal;
      -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
      }
      table {
      border-collapse: collapse !important;
      border-spacing: 0 !important;
      }
      a[x-apple-data-detectors],
      a[href^="tel"] {
      color: inherit !important;
      text-decoration: none !important;
      font-size: inherit !important;
      font-family: inherit !important;
      font-weight: inherit !important;
      line-height: inherit !important;
      }
      a[href^="x-apple-data-detectors:"] {
      color: inherit;
      text-decoration: inherit;
      }
      .button {
      border-radius: 4px !important;
      -webkit-border-radius: 4px !important;
      -moz-border-radius: 4px !important;
      -khtml-border-radius: 4px !important;
      -o-border-radius: 4px !important;
      -ms-border-radius: 4px !important;
      }

      @media (max-width: 650px) {
      .w_100 {
      width: 100% !important;
      }
      .container-width {
      width: 450px !important;
      }
      .w-20 {
      width: 20% !important;
      }
      .w-60 {
      width: 60% !important;
      }
      .w-15 {
      width: 15% !important;
      }
      .d-block {
      display: block;
      }
      .valign-top {
      vertical-align: top !important;
      }
      .padding-lr {
      padding-left: 10px !important;
      padding-right: 10px !important;
      }
      .pr-25 {
      padding-right: 25px !important;
      }
      .pb-30 {
      padding-bottom: 30px !important;
      }
      .fs-15 {
      font-size: 15px !important;
      }
      .fs-13 {
      font-size: 13px !important;
      }
      .fs-11 {
      font-size: 11px !important;
      }
      .fs-10 {
      font-size: 10px !important;
      }
      .width-30 {
      width: 30% !important;
      }
      .width-52 {
      width: 52% !important;
      }
      .align-center {
      text-align: center !important;
      }
      .w_116 {
      width: 116px !important;
      height: 22px !important;
      }
      }

      @media (min-width: 650px) and (max-width: 700px) {
      .w-15-imp {
      width: 15% !important;
      }
      }

      @media (max-width: 321px) {
      .mobile-logo {
        max-width: 200px !important;
      }
      .w_100 {
      width: 100% !important;
      }
      .container-width {
      width: 320px !important;
      }
      .w-20 {
      width: 20% !important;
      }
      .w-60 {
      width: 60% !important;
      }
      .w-15 {
      width: 15% !important;
      }
      .d-block {
      display: block;
      }
      .valign-top {
      vertical-align: top !important;
      }
      .padding-lr {
      padding-left: 10px !important;
      padding-right: 10px !important;
      }
      .pr-25 {
      padding-right: 25px !important;
      }
      .pb-30 {
      padding-bottom: 30px !important;
      }
      .fs-15 {
      font-size: 15px !important;
      }
      .fs-13 {
      font-size: 13px !important;
      }
      .fs-11 {
      font-size: 11px !important;
      }
      .fs-10 {
      font-size: 10px !important;
      }
      .width-30 {
      width: 30% !important;
      }
      .width-52 {
      width: 52% !important;
      }
      .align-center {
      text-align: center !important;
      }
      .w_116 {
      width: 116px !important;
      height: 22px !important;
      }
      }
      @media (max-width: 450px) {
          .desktopShow{
            display:none;
            visibility: hidden;
            opacity:0;
            height:1px;
            width:1px;
          }
          .desktopShowb{
            display:none;
          }
          .mobileShowb{
          display: none;
        }
        }
      @media (min-width: 450px) {
          .mobileShow{
            display:none;
            visibility: hidden;
            opacity:0;
            height:1px;
            width:1px;
          }
          .mobileShowbr{
          display:none;
        }
          
        .footerLi{
          display:inline-block;

        }
        